## Question 1

<img src="img/question1.png" width="500">

*Dans la section Bilans Alimentaires, seule l'année 2013 est disponible.*

In [16]:
import numpy as np
import pandas as pd

df = pd.read_csv("data/FAOSTAT_population_5-7-2019.csv")
df.head()

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBS,Bilans Alimentaires,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBS,Bilans Alimentaires,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBS,Bilans Alimentaires,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBS,Bilans Alimentaires,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [17]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('é', 'e')
df.columns.tolist()

['code_domaine',
 'domaine',
 'code_pays',
 'pays',
 'code_element',
 'element',
 'code_produit',
 'produit',
 'code_annee',
 'annee',
 'unite',
 'valeur',
 'symbole',
 'description_du_symbole']

In [18]:
# Début de l'exploration du fichier pour la recherche d'anomalies
df.shape

(175, 14)

In [19]:
# recherche de lignes dupliquées
df.duplicated().sum()

0

In [20]:
# Afficher le nombre de valeurs et le type par colonnes
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
code_domaine              175 non-null object
domaine                   175 non-null object
code_pays                 175 non-null int64
pays                      175 non-null object
code_element              175 non-null int64
element                   175 non-null object
code_produit              175 non-null int64
produit                   175 non-null object
code_annee                175 non-null int64
annee                     175 non-null int64
unite                     175 non-null object
valeur                    175 non-null int64
symbole                   1 non-null object
description_du_symbole    175 non-null object
dtypes: int64(6), object(8)
memory usage: 107.0 KB

In [21]:
# Si symbole comporte 1 valeur non nulle sur 175, quelles sont les valeurs uniques de 'Description du Symbole' ?
print (df.symbole.unique())
print (df.description_du_symbole.unique())

[nan 'A']
['Donnée officielle'
 'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées']

In [22]:
# Quel est le pays concerné ?
df[df.description_du_symbole.str.contains('Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')]

,code_domaine,domaine,code_pays,pays,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_du_symbole
174,FBS,Bilans Alimentaires,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [23]:
# Est ce un agrégat d'autres données du dataset ? 
df[df.pays.str.contains('Chine')]

,code_domaine,domaine,code_pays,pays,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_du_symbole
33,FBS,Bilans Alimentaires,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
34,FBS,Bilans Alimentaires,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
35,FBS,Bilans Alimentaires,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
36,FBS,Bilans Alimentaires,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle
174,FBS,Bilans Alimentaires,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [24]:
# on vérifie en effectuant la somme et en comparant :
print("la somme des entités 'Chine,...' :", (df.loc[33:36, ['valeur']].sum()))
print("la valeur de 'Chine' :", (df.loc[174, ['valeur']]))

la somme des entités 'Chine,...' : valeur    1416667
dtype: int64
la valeur de 'Chine' : valeur    1416667
Name: 174, dtype: object

In [25]:
# conserver la chine

In [26]:
# on va donc supprimer la ligne 'Chine' avant d'effectuer le calcul de la population totale :
df.drop([174], axis=0, inplace=True)

In [27]:
total = (df.valeur.sum())*1000

In [28]:
print("La population totale en 2013 s'élève à :", '{0:,d}'.format(total))

La population totale en 2013 s'élève à : 6,997,326,000